*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
}

:root { 
  font-size: 100%;
  font-family: sans-serif;
  --main-bg-clr: #FBFCD4;
  --white: #fff;
  --hover-gold: #FBC403;
  --black-clr: #0A0A0A;
  --transparent-black: rgba(0,0,0,0.9);
  --medium-black: #292826;
  --light-black: #151515;
  --title-gold: #FBC403;
  --light-green: #DAFFD5;
  --light-red: #FA6B84;
}

body {
  background-color: #ececec;
  min-height: 100vh;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "header header"
                       "sidebar main";
}

@media only screen and (max-width: 600px) {
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

/* -------------- UTILS / Commons -------------- */

.btn {
  padding: 0.5em 1em;
  border: none;
  outline: 1px solid rgba(0,0,0,0.2);
  border-radius: 50%;
  transition: all ease-in-out 200ms;
}

.btn:hover {
  box-shadow: 0 4px 2px #888888;
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(3px);
  box-shadow: none;
}

.svg-button {
  
  width: 2rem;
  height: 2rem;
  background-repeat: no-repeat;
  background-color: var(--white);
  background-position: center;
  background-size: 75%;
  
}


.controller-title {
  text-align: center;
  padding: 0.5em 1em;
  background-color: var(--transparent-black);
  letter-spacing: 0.08em;
  color: var(--white);
}

input, select {
  padding: 0.5em;
  font-size: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #ececec;
}

input:focus, select:focus {
  outline: 3px solid black;
}



/* -------------- HEADER -------------- */
header {
  background-color: var(--white);
  grid-area: header;
  text-align: center;
  padding: 1em;
}

/* -------------- SIDEBAR -------------- */
.project-sidebar {
  background-color: var(--white);
  grid-area: sidebar;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1em 1em;
  margin: 1rem;
  border-radius: 8px;
}

#project-input-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

#project-input {
  padding: 0.5em;
  font-size: 1.1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #ececec;
}

.btn.add-project-btn {
  padding: 0.2em 0.5em;
  font-size: 1.6rem;
  font-weight: bold;
}

.project-list {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin-top: 3rem;
}

.project {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1.2em 1em;
  outline: 1px solid rgba(0, 0, 0, 0.1);
}

.project:hover {  
  background: rgba(0, 0, 0, 0.2);
  outline: 2px solid black;
  cursor: pointer;
}

.project:hover::before{
  content: "☛ ";
  color: #0A0A0A;
}

.project__edit {
  margin-left: auto;
  background-image: url('../assets/pencil.svg');
}

.project__delete{
  background-image: url('../assets/delete.svg');
}

.project.selected {
  transform: scale(1.05);
  background-color: var(--black-clr);
  color: var(--title-gold);
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 8px 15px;

}

.project.selected::before {
  font-size: 1.2rem;
  content: "☛ ";
  color: var(--title-gold);
}

/* -------------- MAIN -------------- */
main {
  background-color: var(--white);
  grid-area: main;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  padding: 1em 1em;
  margin: 1rem;
  border-radius: 8px;

}

#todo-input-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}

#todo-input-container label {
  text-align: center;
}


.btn.add-todo-btn {
  padding: 0.2em 0.5em;
  font-size: 1.6rem;
  font-weight: bold;
}

@media only screen and (max-width: 1025px) {
  #todo-input-container {
    display: flex;
    flex-direction: column;
    align-items: normal;
  }

  .btn.add-todo-btn {
    align-self: center;
  }
}


.selected-project-title {
  width: fit-content;
  align-self: center;
  padding-bottom: 0.5em;
  border-bottom: 2px solid var(--black-clr);
}

.todo-list {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
}


.todo {
  background-color: #ececec;
  border-radius: 5px;
  box-shadow: 3px 3px 5px #888888;
  display: flex;
  flex-direction: row;
  gap: 0.8rem;
  padding: 1.2em 1em;
  align-items: center;
}

.todo__details {
  margin-left: auto;
  background-image: url('../assets/information-outline.svg');
}

.todo__edit {
  background-image: url('../assets/pencil.svg');
}

.todo__delete {
  background-image: url('../assets/delete.svg');
}

.todo.priority-medium {
  background-color: var(--light-green);
}

.todo.priority-high {
  background-color: var(--light-red);
}



/* -------------- MODAL -------------- */

.modal {
  padding: 1rem 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: max-content;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

/* --- OVERLAY --- */
#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal button {
  align-self: center;
  padding: 0.4em 1em;
}

/* -------------- MODAL SPECIFIC -------------- */
#edit-todo-modal, #edit-project-modal {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;

}

#edit-todo-modal label {
  display: flex;
  flex-direction: column;
  row-gap: 0.3rem;
  text-align: center;
}

.msg-modal {
  overflow-wrap: break-word;
}


.modal h2 {
  text-align: center;
}